/** 全体 */
* {
  padding: 0px;
  margin: 0px;
}

.App {
  /* max-width: 1200px; */
  margin: 0 auto;
  font-size: 16px;
  width: 100%;
}

/* スマートフォン */
@media (max-width: 767px) {
  h2 {
    /* font-size: 40px; */
    padding-bottom: 50px;
  }

  p {
    font-size: 0.7rem;
  }
  
  section {
    margin-bottom: 70px;
  }

/* html {
  scroll-behavior: smooth;
} */

a {
  text-decoration: none;
  transition: 1.0s ;
  cursor: pointer;
  color: white;
}

a:hover {
  color: rgb(228, 218, 218);
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

/* ヘッダー */
header {
  display: flex;
  width: 100%;
  color: white;
	left:0;
	top:0;
	margin:0;
  /* position: fixed; */
  position: absolute;
  z-index:100;
}

.site-name {
  text-align: center;
  line-height: 100px;
  padding-left: 30px;
  font-size: 0.6rem;
}

nav {
  line-height: 100px;
  padding: 0px;
  margin: auto;
  width: 40%;
}

.menu {
  /* display: flex; */
  list-style-type:none;
}

.menu-list {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-left: 50px;
  font-size:0.9rem;
  font-weight: bold;
}

/** トップ画像 */
.top-img img {
  width: 100%;
  /* background-size: cover; */
}


/** main */
main {
  height: 100%;
  width: 100%;
  background: rgb(248, 252, 255);
}

/** works */
.works {
  /* height: 600px; */
}
.works-app-box {
  display: flex;
  justify-content: space-around;
  padding: 0 20px 0 20px;
} 
.works-app {
  /* width: 250px; */
  /* height: 300px;
  box-shadow: 0 0 5px gray;
  padding: 50px;
  margin: 0 auto;
  margin-bottom: 20px; */
}
.works {
  /* padding-top: 50px; */
}
.works h2 {
  /* padding-bottom: 20px; */
}

.works-img img{
  width: 100px;
}


/** skill */
.skills {
  /* max-width: 100px; */
}

.skill-img img {
  width: 40px;
  /* background-size: cover; */
  padding-top: 5px;
}

.skills-box {
  display: flex;
  /* justify-content: space-around; */
  /* margin-bottom: 10px; */
  /* width: 200px; */
}

.skills {
  /* padding-top: 50px; */
  margin: 5px;

}

.skill {
  width: 100px;
  height: 70px;
  box-shadow: 0 0 5px gray;
  padding: 10px;
  /* margin: 0 auto; */
  margin: 0 5px 10px 0px;
}

.skill p {
  font-weight: bold;
}

.skills h2 {
  padding-bottom: 20px;
}

/** qualifications */
.qualifications {
  padding: 0 15px 0 15px;
}
.qualification-img {
  padding: 15px 0;
}

.qualification {
  /* height: 500px; */
}

.qualifications-box {
  display: flex;
  justify-content: space-around;
}

.qualification-img img {
  width: 130px;
}

.qualification {
  box-shadow: 0 0 5px gray;
  padding: 40px;
  margin: 10px;
  margin-bottom: 20px;
}

.qualifications p {
  font-weight: bold;
  /* font-size: 20px; */
}

/** aboutMe */
.about-me {
  /* width: 1200px; */
  margin: 0 auto;
}

.cp_timeline04 {
	position: relative;
	margin: 3em auto;
	padding-bottom: 2em;
}
.cp_timeline04:before {
	position: absolute;
	top: 0px;
	left: 45px;
	width: 3px;
	height: 100%;
	content: '';
	background: #e91e63;
}
.cp_timeline04 .timeline_item {
	margin: 0px 0px 0px 80px;
}
.cp_timeline04 .timeline_item .time_date .time {
	font-family: serif;
	font-size: 6em;
	font-weight: bold;
	position: relative;
	margin: 0;
	letter-spacing: 3px;
	color: rgba(233,30,99,0.1);
}
.cp_timeline04 .timeline_item .time_date .time:before {
	position: absolute;
	top: 50%;
	left: -42px;
	width: 10px;
	height: 10px;
	content: '';
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	border: 3px solid #e91e63;
	background: #fff;
}
.cp_timeline04 .timeline_item .time_date .flag {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
	margin-top: -60px;
	color: #880e4f;
}
.cp_timeline04 .timeline_item .desc {
	font-size: 0.8em;
	line-height: 20px;
	margin-top: 10px;
	padding-left: 20px;
	border-left: 1px solid #880e4f;
}
@media only screen and (max-width: 767px) {
	.cp_timeline04:before {
		left: 15px;
	}
	.cp_timeline04 .timeline_item .time_date .time:before {
		left: -32px;
	}
	.cp_timeline04 .timeline_item {
		margin: 0px 0px 0px 40px;
	}
	.cp_timeline04 .timeline_item .desc {
		padding-left: 0px;
		border-top: 1px solid #880e4f;
		border-left: none;
	}
}

/** Blog/GitHub*/
.about-me a{
  color: rgb(37, 128, 233);
}

.about-me-link-box {
  height: 200px;
}
.about-me-link{
  /* padding-top: 50px; */
}


/** フッター */
footer {
  /* height: 100px; */
  background: rgb(181, 209, 255);
  line-height: 100px;
}

footer img {
  /* height: 50px; */
  /* width: 50px; */
}

.footer-text {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}
  
}

/* タブレット */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* PC */
@media (min-width: 1024px) {
  h2 {
    font-size: 40px;
    padding-bottom: 50px;
  }
  
  section {
    margin-bottom: 150px;
  }

/* html {
  scroll-behavior: smooth;
} */

a {
  text-decoration: none;
  transition: 1.0s ;
  cursor: pointer;
  color: white;
}

a:hover {
  color: rgb(228, 218, 218);
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

/* ヘッダー */
header {
  display: flex;
  width: 100%;
  color: white;
	left:0;
	top:0;
	margin:0;
  /* position: fixed; */
  position: absolute;
  z-index:100;
}

.site-name {
  text-align: center;
  line-height: 100px;
  padding-left: 30px;
  font-size: 0.9rem;
}

nav {
  line-height: 100px;
  padding: 0px;
  margin: auto;
  width: 45%;
}

.menu {
  display: flex;
  list-style-type:none;
}

.menu-list {
  display: inline-block;
  /* width: 100%; */
  text-align: center;
  padding-left: 50px;
  font-size:1.4rem;
  font-weight: bold;
}

/** トップ画像 */
.top-img img {
  width: 100%;
  background-size: cover;
}


/** main */
main {
  height: 100%;
  background: rgb(248, 252, 255);
}

/** works */
.works {
  /* height: 600px; */
}

.works-app {
  width: 450px;
  height: 350px;
  box-shadow: 0 0 5px gray;
  padding: 40px;
  margin: 10px;
}

.works-app-box {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.works {
  padding-top: 50px;
}

.works h2 {
  padding-bottom: 20px;
}

/** skill */
.skill-img img {
  width: 100%;
  background-size: cover;
}

.skills-box {
  display: flex;
  justify-content: space-around;
}

.skills {
  padding-top: 50px;
}

.skill {
  width: 200px;
  height: 240px;
  box-shadow: 0 0 5px gray;
  padding: 50px;
  margin: 10px;
}

.skill p {
  font-weight: bold;
  font-size: 20px;
}

.skills h2 {
  padding-bottom: 20px;
}

/** qualifications */
.qualification-img {
  padding: 15px 0;
}

.qualification {
  /* height: 500px; */
}

.qualifications-box {
  display: flex;
  justify-content: space-around;
}

.qualification {
  box-shadow: 0 0 5px gray;
  padding: 40px;
  margin: 10px;
}

.qualifications p {
  font-weight: bold;
  font-size: 20px;
}

/** aboutMe */
.about-me {
  width: 1200px;
  margin: 0 auto;
}

.cp_timeline04 {
	position: relative;
	margin: 3em auto;
	padding-bottom: 2em;
}
.cp_timeline04:before {
	position: absolute;
	top: 0px;
	left: 45px;
	width: 3px;
	height: 100%;
	content: '';
	background: #e91e63;
}
.cp_timeline04 .timeline_item {
	margin: 0px 0px 0px 80px;
}
.cp_timeline04 .timeline_item .time_date .time {
	font-family: serif;
	font-size: 6em;
	font-weight: bold;
	position: relative;
	margin: 0;
	letter-spacing: 3px;
	color: rgba(233,30,99,0.1);
}
.cp_timeline04 .timeline_item .time_date .time:before {
	position: absolute;
	top: 50%;
	left: -42px;
	width: 10px;
	height: 10px;
	content: '';
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	border: 3px solid #e91e63;
	background: #fff;
}
.cp_timeline04 .timeline_item .time_date .flag {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
	margin-top: -60px;
	color: #880e4f;
}
.cp_timeline04 .timeline_item .desc {
	font-size: 0.8em;
	line-height: 20px;
	margin-top: 10px;
	padding-left: 20px;
	border-left: 1px solid #880e4f;
}
@media only screen and (max-width: 767px) {
	.cp_timeline04:before {
		left: 15px;
	}
	.cp_timeline04 .timeline_item .time_date .time:before {
		left: -32px;
	}
	.cp_timeline04 .timeline_item {
		margin: 0px 0px 0px 40px;
	}
	.cp_timeline04 .timeline_item .desc {
		padding-left: 0px;
		border-top: 1px solid #880e4f;
		border-left: none;
	}
}

/** Blog/GitHub*/
.about-me a{
  color: rgb(37, 128, 233);
}

.about-me-link-box {
  height: 250px;
}
.about-me-link{
  padding-top: 50px;
}


/** フッター */
footer {
  /* height: 100px; */
  background: rgb(181, 209, 255);
  line-height: 100px;
}

footer img {
  height: 50px;
  width: 50px;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
}
