/** 全体 ********/
/**************/
* {
  padding: 0px;
  margin: 0px;
  color: white;
  font-weight: bold;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url('./images/shutterstock_1662908713.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

.App {
  font-size: 1.0rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.538);

}

.scroll-arrow {
  margin-bottom: 200px;
}

section {
  margin-bottom: 200px;
}

/* ヘッダー */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.364); /* 半透明の黒 */
}

nav {
  line-height: 35px;
  margin: auto;
  width: 70%;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.menu a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

.menu a:hover {
  color: rgb(40, 109, 194);
}

.top {
  height: 100vh;
}

.fade-in-text {
  display: grid;
  place-items: center;
  height: 100vh;
}


main {
  width: 75%;
  margin: auto;
}

/** ロード中 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 半透明の黒 */
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.loading-text {
  animation: blink 1s infinite;
}

 /** aboutMe */
 .about-me {
  width: 80%;
  margin: 0 auto;
}

.cp_timeline04 {
  position: relative;
  margin: 3em auto;
  padding-bottom: 2em;
}
.cp_timeline04:before {
  position: absolute;
  top: 0px;
  left: 45px;
  width: 3px;
  height: 100%;
  content: '';
  background: #85aef4;
}
.cp_timeline04 .timeline_item {
  margin: 0px 0px 0px 80px;
}
.cp_timeline04 .timeline_item .time_date .time {
  font-family: serif;
  font-size: 5em;
  font-weight: bold;
  position: relative;
  margin: 0;
  letter-spacing: 3px;
  color: rgba(225, 215, 215, 0.4);
}
.cp_timeline04 .timeline_item .time_date .time:before {
  position: absolute;
  top: 50%;
  left: -42px;
  width: 10px;
  height: 10px;
  content: '';
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 3px solid #6fa4ff;
  background: #fff;
}
.cp_timeline04 .timeline_item .time_date .flag {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  margin-top: -60px;
  color: white;
}
.cp_timeline04 .timeline_item .desc {
  font-size: 0.8em;
  line-height: 20px;
  margin-top: 10px;
  padding-left: 20px;
  border-left: 1px solid #5c91f2;
}

.cp_timeline04:before {
  left: 15px;
}

.cp_timeline04 .timeline_item .time_date .time:before {
  left: -32px;
}

.cp_timeline04 .timeline_item {
  margin: 0px 0px 0px 40px;
}
.cp_timeline04 .timeline_item .desc {
  padding-left: 0px;
  border-top: 1px solid #578bf3;
  border-left: none;
}


/** Blog/GitHub*/
/** リンク集テーブル */
.link-table table {
  width: 90%;
  border-collapse: collapse;
  margin: auto;
}

.link-table th,
.link-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
}

.link-table a {
  text-decoration: none;
  color: #007bff;
}

.link-table a:hover {
  color: #0056b3;
}

/* マウスストーカー */
.mouse-stalker {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #e9dede6e; /* カーソルの色 */
  border-radius: 50%;
  pointer-events: none; /* カーソルが要素に対してマウスイベントを発生させないようにする */
  z-index: 9999; /* カーソルを最前面に表示 */
  transition: transform 0.9s ; /* カーソルのアニメーション */
  cursor: none;
}

/* 画像にカーソルを当てるとズームインする時の時間 */
.works-img {
  margin: 15px;
  transition: transform 0.3s ease; /* マウスオーバー時のアニメーションを設定 */
}
.self-study-evidence-img {
  margin: 15px;
  transition: transform 0.3s ease; /* マウスオーバー時のアニメーションを設定 */
}

/* 画像にカーソルを当てるとズームイン */
.works-app:hover .works-img {
  transform: scale(1.1); /* マウスオーバー時に画像を1.1倍に拡大（ズームイン） */
}
.self-study-evidence:hover .self-study-evidence-img {
  transform: scale(1.1); /* マウスオーバー時に画像を1.1倍に拡大（ズームイン） */
}

.fade-in-text {
  opacity: 0; /* 初期状態は透明 */
  animation: fadeInAnimation 3s ease forwards; /* フェードインのアニメーションを適用 */
}

@keyframes fadeInAnimation {
  to {
    opacity: 1; /* アニメーションの最終状態は不透明（フェードイン） */
  }
}

/* h1テキスト点滅 */
.glowing-text {
  font-size: 3.0rem;
  text-shadow: 0 0 10px rgb(95, 102, 150), 0 0 20px rgb(57, 91, 146), 0 0 30px rgb(150, 179, 226), 0 0 40px rgba(63, 101, 177, 0.401); /* テキストに光の影を追加 */
  font-family: 'Cinzel', serif;
}

/** フッター */
footer {
  height: 100px; 
  background-color: rgba(0, 0, 0, 0.452); /* 半透明の黒 */
  line-height: 100px;
}

footer img {
  height: 50px;
  width: 50px;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

/** スマートフォン ***********/
/**************************/
@media screen and (max-width: 768px) {
  /* マウスストーカーオフ */
.mouse-stalker {
  display: none;
}

/* h1テキスト点滅 */
.glowing-text {
  font-size: 2.0rem;
}

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* 左寄せにする */
    width: 100%;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 40%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .menu.open {
    display: flex;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  /* バツマークのアニメーション */
  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  }

  .hamburger.open span:nth-child(1) {
    transform: rotate(-45deg) translate(-3px, 6px);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  h2 {
    padding-bottom: 30px;
  }

  p {
    font-size: 0.7rem;
  }

  a {
    text-decoration: none;
    transition: 1.0s ;
    cursor: pointer;
    color: white;
  }

  a:hover {
    color: rgb(228, 218, 218);
  }

  .App {
    text-align: center;
    width: 100%;
    height: 100%;
  }

  /** main */
  main {
    height: 100%;
    width: 100%;
    opacity: 0.9;
  }

  /** works */
  .works-app {
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .works-img img{
    width: 100%;
  }
  

  /** self-study-evidence */
  .self-study {
    padding-top: 50px;
  }

  .self-study-evidence-box {
    display: flex;
    flex-wrap: wrap;
  }

  .self-study-evidence {
      width: 50%;
      margin: auto;
      margin-bottom: 30px;
  }

  .self-study-evidence-img img{
    width: 100%;
  }


  /** skill */
  .skills {
    margin: 5px;

  }

  .skills-box {
    display: flex;
    flex-wrap: wrap;

  }

  .skill {
    width: 22%;
    box-shadow: 0 0 3px gray;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 12px;
    background: white;
  }

  .skill-img img {
    width: 40px;
    padding: 7px;
  }

  .skills h2 {
    padding-bottom: 20px;
  }

  .skill p {
    color: black;
  }


  /** qualifications */
  .qualification {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 75%;
    background: white;
    padding: 15px;
  }

  .qualifications p {
    font-size: 1.0rem;
    color: black;
  }

  .qualification-img {
    padding: 10px;
  }

  .qualification-img img {
    width: 70%;
  }

}


/** タブレット ****************/
/***************************/
@media (min-width: 768px) and (max-width: 1023px) {

}


/** PC *********************/
/***************************/
@media (min-width: 1024px) {
  h2 {
    font-size: 2.5rem;
    padding: 100px 0 50px 0;
  }

  a {
    text-decoration: none;
    transition: 1.0s ;
    cursor: pointer;
    color: white;
  }

  a:hover {
    color: rgb(228, 218, 218);
  }

  .App {
    text-align: center;
    height: 100%;
  }

  /** works */
  .works {
    padding-top: 50px;
  }

  .works-app-box {
    display: flex;
    flex-wrap: wrap;
  }

  .works-app {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
  }

  .works-img img{
    width: 100%;
  }


  /** self-study-evidence */
  .self-study {
    padding-top: 50px;
  }

  .self-study-evidence-box {
    display: flex;
    flex-wrap: wrap;
  }

  .self-study-evidence {
      width: 33%;
      margin: auto;
      margin-bottom: 30px;
  }

  .self-study-evidence-img img{
    width: 100%;
  }


  /** skill */
  .skills-box {
    display: flex;
    flex-wrap: wrap;
  }

  .skill {
    width: 15%;
    height: 200px;
    box-shadow: 0 0 5px gray;
    margin: 20px;
    background: white;
    opacity: 0.9;
  }

  .skill-img img {
    width: 50%;
  }

  .skill p {
    font-size: 1.1rem;
    padding: 10px;
    color: black;
  }


  /** qualifications */
  .qualifications-box {
    display: flex;
    flex-wrap: wrap;
  }

  .qualification {
    width: 40%;
    margin: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .qualification-img img{
    width: 90%;
  }

  .qualifications p {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 15px 0;
  }

}
