* {
  padding: 0px;
  margin: 0px;
}

/* スクロール */
html { scroll-behavior: smooth;}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

/* ヘッダー */
header {
  display: flex;
  width: 100%;
  background: #1B9DF0;
  color: white;
	/* left:0;
	top:0;
	margin:0;
	z-index:1001;
  position: fixed; */
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /*これを付け足し*/
}

.site-name {
  text-align: center;
  line-height: 100px;
  padding-left: 30px;
}

nav {
  line-height: 100px;
  padding: 0px;
  margin: auto;
}

.menu {
  display: flex;
  list-style-type:none;
}

.menu-list {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding-left: 40px;
  font-size:18px;
  font-weight: bold;
}

img {
  width: 100%;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
  transition: 1.0s ;
  cursor: pointer;
}

a:hover {
  color: black;
}

/** main */
main {
  margin-top: 100px;
  height: 100%;
}

section {
  border-bottom: groove;
}

.works {
  height: 600px;
}

.skills {
  /* height: 500px; */
  padding: 30px;
}

.about-me {
  height: 500px;
}

.contact {
  height: 500px;
}

.works-app-box {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.skills-box {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.skill {
  width: 250px;
  height: 300px;
  box-shadow: 0 0 5px gray;
  padding: 40px;
  margin: 20px;
}

.skill p {
  font-weight: bold;
  font-size: 20px;
}

.works {
  padding-top: 50px;
}

.works h2 {
  padding-bottom: 20px;
}

.skills {
  padding-top: 50px;
}

.skills h2 {
  padding-bottom: 20px;
}
